.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-j7REof4I8zmX);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-_GKqetza2Gt-);
  font-family: var(--token-I_eYc-DsfcTM);
  font-size: var(--token-Hyo1d5D0YZl6);
  line-height: var(--token-njjlq-B3LlNZ);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-2joAlDPoWJnn);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-R0L8sXmgqWCc);
  outline-offset: 1px;
  outline-color: var(--token-j7REof4I8zmX);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-QyVLyVP2RCzK);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-7ufrfSpWag8t);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-_zCfcnRgkReo);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-zoTCuHdcy8NZ);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-VDVgWZh9tu-5);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-HyruBZ5nB09U);
  font-size: var(--token-bzEaU_ao_IGJ);
  column-gap: var(--token-R0L8sXmgqWCc);
  row-gap: 0px;
  border-radius: var(--token-z21Bq98GC5aj);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bzEaU_ao_IGJ);
  line-height: var(--token-HyruBZ5nB09U);
  column-gap: var(--token-z21Bq98GC5aj);
  row-gap: 0px;
  border-radius: var(--token-z21Bq98GC5aj);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JLpKD5lzoyWU);
  line-height: var(--token-FHifYooIM6k8);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JLpKD5lzoyWU);
  line-height: var(--token-FHifYooIM6k8);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-M9SoZC3_FKUS);
  border-radius: var(--token-2joAlDPoWJnn);
}
.softBackgroundcolor_neutral {
  background: var(--token-ZpVpWUzH2kZl);
}
.softBackgroundcolor_muted {
  background: var(--token-NuAGS4C2iGY9);
}
.softBackgroundcolor_success {
  background: var(--token-aXS6ZbtxuDEw);
}
.softBackgroundcolor_warning {
  background: var(--token-Va8GQjG_GR7q);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Mf8UoYK3Zz6T);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-2joAlDPoWJnn);
  border: 0px solid var(--token-FmErgj3xCk-P);
}
.bordercolor_neutral {
  border-color: var(--token-fYWuXlpQ0ZKk);
}
.bordercolor_muted {
  border-color: var(--token-fUPfZGImfSZd);
}
.bordercolor_success {
  border-color: var(--token-eQUxVkxXlg2X);
}
.bordercolor_warning {
  border-color: var(--token-UGTQXbtOTBkt);
}
.bordercolor_errorDestructive {
  border-color: var(--token--grMBU74Z2qw);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-2joAlDPoWJnn);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-QlrY7iGXkR8P);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-cWMgOolLvhDT);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-3A4mvezahmR_);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___6OwOs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-2joAlDPoWJnn);
  min-width: 0;
  min-height: 0;
  padding: var(--token-2joAlDPoWJnn) var(--token-lfyeLQPUj8iM);
}
.freeBoxsize_extraSmall___6OwOsPNyk {
  padding: var(--token-z21Bq98GC5aj) var(--token-2joAlDPoWJnn);
}
.freeBoxsize_small___6OwOsLEzI {
  padding: var(--token-2joAlDPoWJnn) var(--token-_GKqetza2Gt-);
}
.freeBoxsize_large___6OwOsFkPhJ {
  padding-top: var(--token-z21Bq98GC5aj);
  padding-bottom: var(--token-z21Bq98GC5aj);
}
.freeBoxsize_extraLarge___6OwOsusC6D {
  padding-left: var(--token-w2o8oBJA10De);
  padding-right: var(--token-w2o8oBJA10De);
}
.freeBoxroundedFull___6OwOstZw3T {
  padding-right: var(--token-w2o8oBJA10De);
  padding-left: var(--token-w2o8oBJA10De);
}
.freeBox__xBkyJ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__xBkyJi06Y {
  display: flex;
}
.slotTargetStart {
  color: var(--token-SPEyQAYyEUXw);
}
.slotTargetStartcolor_neutral {
  color: var(--token-BibyCAhwlM5p);
}
.slotTargetStartcolor_muted {
  color: var(--token-FE7O6Jhsxl2E);
}
.slotTargetStartcolor_success {
  color: var(--token-Up8lVVZkdh6A);
}
.slotTargetStartcolor_warning {
  color: var(--token-q3MKs4bUg-0V);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-NEOPb6AmqGL2);
}
.slotTargetStarttype_soft {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetStarttype_bordered {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bzEaU_ao_IGJ);
}
.slotTargetStartsize_small {
  font-size: var(--token-bzEaU_ao_IGJ);
}
.slotTargetStartsize_large {
  font-size: var(--token-JLpKD5lzoyWU);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JLpKD5lzoyWU);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.svg___30Yrf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-SPEyQAYyEUXw);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-BibyCAhwlM5p);
}
.slotTargetLabelcolor_muted {
  color: var(--token-FE7O6Jhsxl2E);
}
.slotTargetLabelcolor_success {
  color: var(--token-Up8lVVZkdh6A);
}
.slotTargetLabelcolor_warning {
  color: var(--token-q3MKs4bUg-0V);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-NEOPb6AmqGL2);
}
.slotTargetLabeltype_soft {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetLabeltype_bordered {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.text__o9A1 {
  white-space: pre;
}
.freeBox___9AgRk {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___9AgRk7EQha {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-SPEyQAYyEUXw);
}
.slotTargetEndcolor_neutral {
  color: var(--token-BibyCAhwlM5p);
}
.slotTargetEndcolor_muted {
  color: var(--token-FE7O6Jhsxl2E);
}
.slotTargetEndcolor_success {
  color: var(--token-Up8lVVZkdh6A);
}
.slotTargetEndcolor_warning {
  color: var(--token-q3MKs4bUg-0V);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-NEOPb6AmqGL2);
}
.slotTargetEndtype_soft {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetEndtype_bordered {
  color: var(--token-rXGulAh7Z689);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bzEaU_ao_IGJ);
}
.slotTargetEndsize_small {
  font-size: var(--token-bzEaU_ao_IGJ);
}
.slotTargetEndsize_large {
  font-size: var(--token-JLpKD5lzoyWU);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JLpKD5lzoyWU);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-u92wlXCawtFL);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-qI9yxNp6pihb);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-x4UAxottoLtK);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-rrrGMujg_ArD);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-lqEd8jcV750E);
}
.svg__uyvoW {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
