.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-8ucnShedbPHa);
  font-size: var(--token-Hyo1d5D0YZl6);
  line-height: var(--token-njjlq-B3LlNZ);
  width: 100%;
  color: var(--token-XEEiiKQNmxC8);
  font-family: var(--token-I_eYc-DsfcTM);
  min-width: 0;
  border-radius: var(--token-2joAlDPoWJnn);
  padding: var(--token-2joAlDPoWJnn) var(--token-lfyeLQPUj8iM);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-j7REof4I8zmX);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-NuAGS4C2iGY9);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-wX32tpT5rS7e);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-NuAGS4C2iGY9);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-VKDgleyhvY3Q);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-VKDgleyhvY3Q);
}
