.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button___9Lx1Z:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__x5QB {
  position: relative;
  height: 1em;
}
.text__gRjlo {
  padding-right: 0px;
}
.svg__wAsD1 {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-TkYb5mzMr2Cj);
  border-top-left-radius: var(--token-TkYb5mzMr2Cj);
  outline-style: none;
  background: var(--token-9jhRE3R3UjC6);
  display: block;
  color: var(--token-XEEiiKQNmxC8);
  font-family: var(--token-I_eYc-DsfcTM);
  font-size: var(--token-Hyo1d5D0YZl6);
  line-height: var(--token-njjlq-B3LlNZ);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_oJS2VpdX1X_K {
  background: var(--token-85m9jl51WeOQ);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ariaModal:global(.__wab_instance) {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--token-w2o8oBJA10De);
    border-top-right-radius: var(--token-w2o8oBJA10De);
    max-height: 100%;
  }
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__zy5HR {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2__c6SlH {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-JLpKD5lzoyWU);
  min-width: 0;
  padding: var(--token-1-QVpK7ydUoJ);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-1-QVpK7ydUoJ);
}
.freeBox__xxQs0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-w2o8oBJA10De);
}
.text__kZfGj {
  position: relative;
}
.freeBox___8Lxow {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-1-QVpK7ydUoJ);
}
.freeBox___2Xwo0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__iM2Te {
  position: relative;
  height: 1em;
}
.svg__eSJpK {
  position: relative;
  height: 1em;
}
