.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-z21Bq98GC5aj);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__yaGlj {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-z21Bq98GC5aj);
}
.radio__stsDk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ny9Md:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__wOztg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
