.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-z21Bq98GC5aj);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-8ucnShedbPHa);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-9jhRE3R3UjC6);
  min-width: 0;
  border-radius: var(--token-2joAlDPoWJnn);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-R0L8sXmgqWCc);
  outline-offset: 1px;
  outline-color: var(--token-j7REof4I8zmX);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-Hyo1d5D0YZl6);
  line-height: var(--token-njjlq-B3LlNZ);
  padding-top: var(--token-2joAlDPoWJnn);
  padding-bottom: var(--token-2joAlDPoWJnn);
  padding-left: var(--token-lfyeLQPUj8iM);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-4HkEEJ9jgqfD);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-VKDgleyhvY3Q);
  height: var(--token-VKDgleyhvY3Q);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-TkYb5mzMr2Cj);
  height: var(--token-TkYb5mzMr2Cj);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection__zK8R:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__pKkcM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
