.ariaCheckboxGroup:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  row-gap: var(--token-z21Bq98GC5aj);
  min-width: 0;
}
.ariaCheckboxGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.ariaCheckboxGroup[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__o951C {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-z21Bq98GC5aj);
}
.checkbox__wPl7C:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.checkbox__q5V2S:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.checkbox__r8KgM:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
