.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-9jhRE3R3UjC6);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-fUPfZGImfSZd);
  border-radius: var(--token-lfyeLQPUj8iM);
  padding: var(--token-2joAlDPoWJnn);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__mghOe:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
