.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-XEEiiKQNmxC8);
  font-family: var(--token-I_eYc-DsfcTM);
  font-size: var(--token-Hyo1d5D0YZl6);
  line-height: var(--token-njjlq-B3LlNZ);
  width: 100%;
  column-gap: var(--token-_GKqetza2Gt-);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__jxFmq {
  display: flex;
  position: relative;
  width: var(--token-eo3YXFPkcSay);
  height: var(--token-eo3YXFPkcSay);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-KEGHAM9ivzKX);
}
.ariaRadio[data-selected] .freeBox__jxFmq {
  background: var(--token-j7REof4I8zmX);
  border-color: var(--token-j7REof4I8zmX);
}
.ariaRadio[data-focus-visible] .freeBox__jxFmq {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-j7REof4I8zmX);
  outline-width: 2px;
}
.freeBox___5VSf {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox___5VSf {
  width: var(--token-2joAlDPoWJnn);
  height: var(--token-2joAlDPoWJnn);
  flex-shrink: 0;
  display: block;
}
