@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-VKDgleyhvY3Q: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-VKDgleyhvY3Q);
  --token-TkYb5mzMr2Cj: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-TkYb5mzMr2Cj);
  --token-_GKqetza2Gt-: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-_GKqetza2Gt-);
  --token-qI9yxNp6pihb: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-qI9yxNp6pihb);
  --token-z21Bq98GC5aj: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-z21Bq98GC5aj);
  --token-w2o8oBJA10De: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-w2o8oBJA10De);
  --token-1-QVpK7ydUoJ: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-1-QVpK7ydUoJ);
  --token-JLpKD5lzoyWU: 1.25rem;
  --plasmic-token-font-lg: var(--token-JLpKD5lzoyWU);
  --token-9jhRE3R3UjC6: #ffffff;
  --plasmic-token-basic-container-background: var(--token-9jhRE3R3UjC6);
  --token-j7REof4I8zmX: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-j7REof4I8zmX);
  --token-I_eYc-DsfcTM: Inter;
  --plasmic-token-sans-serif: var(--token-I_eYc-DsfcTM);
  --token-Hyo1d5D0YZl6: 1rem;
  --plasmic-token-font-md: var(--token-Hyo1d5D0YZl6);
  --token-njjlq-B3LlNZ: 1.25;
  --plasmic-token-line-height-md: var(--token-njjlq-B3LlNZ);
  --token-2joAlDPoWJnn: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-2joAlDPoWJnn);
  --token-QyVLyVP2RCzK: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-QyVLyVP2RCzK);
  --token-VDVgWZh9tu-5: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-VDVgWZh9tu-5);
  --token-7ufrfSpWag8t: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-7ufrfSpWag8t);
  --token-bzEaU_ao_IGJ: 0.75rem;
  --plasmic-token-font-sm: var(--token-bzEaU_ao_IGJ);
  --token-HyruBZ5nB09U: 1;
  --plasmic-token-line-height-sm: var(--token-HyruBZ5nB09U);
  --token-FHifYooIM6k8: 1.4;
  --plasmic-token-line-height-lg: var(--token-FHifYooIM6k8);
  --token-R0L8sXmgqWCc: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-R0L8sXmgqWCc);
  --token-_zCfcnRgkReo: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-_zCfcnRgkReo);
  --token-zoTCuHdcy8NZ: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-zoTCuHdcy8NZ);
  --token-M9SoZC3_FKUS: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-M9SoZC3_FKUS);
  --token-ZpVpWUzH2kZl: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-ZpVpWUzH2kZl);
  --token-NuAGS4C2iGY9: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-NuAGS4C2iGY9);
  --token-aXS6ZbtxuDEw: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-aXS6ZbtxuDEw);
  --token-Va8GQjG_GR7q: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-Va8GQjG_GR7q);
  --token-Mf8UoYK3Zz6T: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-Mf8UoYK3Zz6T);
  --token-FmErgj3xCk-P: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-FmErgj3xCk-P);
  --token-fYWuXlpQ0ZKk: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-fYWuXlpQ0ZKk);
  --token-fUPfZGImfSZd: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-fUPfZGImfSZd);
  --token-eQUxVkxXlg2X: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-eQUxVkxXlg2X);
  --token-UGTQXbtOTBkt: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-UGTQXbtOTBkt);
  --token--grMBU74Z2qw: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token--grMBU74Z2qw);
  --token-QlrY7iGXkR8P: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-QlrY7iGXkR8P);
  --token-cWMgOolLvhDT: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-cWMgOolLvhDT);
  --token-3A4mvezahmR_: #00000033;
  --plasmic-token-interaction-pressed: var(--token-3A4mvezahmR_);
  --token-lfyeLQPUj8iM: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-lfyeLQPUj8iM);
  --token-SPEyQAYyEUXw: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-SPEyQAYyEUXw);
  --token-BibyCAhwlM5p: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-BibyCAhwlM5p);
  --token-FE7O6Jhsxl2E: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-FE7O6Jhsxl2E);
  --token-rXGulAh7Z689: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-rXGulAh7Z689);
  --token-q3MKs4bUg-0V: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-q3MKs4bUg-0V);
  --token-Up8lVVZkdh6A: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-Up8lVVZkdh6A);
  --token-NEOPb6AmqGL2: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-NEOPb6AmqGL2);
  --token-u92wlXCawtFL: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-u92wlXCawtFL);
  --token-x4UAxottoLtK: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-x4UAxottoLtK);
  --token-rrrGMujg_ArD: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-rrrGMujg_ArD);
  --token-lqEd8jcV750E: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-lqEd8jcV750E
  );
  --token-XEEiiKQNmxC8: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-XEEiiKQNmxC8);
  --token-4HkEEJ9jgqfD: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-4HkEEJ9jgqfD);
  --token-eo3YXFPkcSay: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-eo3YXFPkcSay);
  --token-KEGHAM9ivzKX: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-KEGHAM9ivzKX);
  --token-8ucnShedbPHa: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-8ucnShedbPHa);
  --token-wX32tpT5rS7e: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-wX32tpT5rS7e);
  --token-TUOK_vCcUhZf: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-TUOK_vCcUhZf);
  --token-85m9jl51WeOQ: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-85m9jl51WeOQ);
  --token-jG0Txxmn0K5s: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-jG0Txxmn0K5s);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

@keyframes bouncemz8PGamSoahc {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  20% {
    transform: translate3d(0px, 0px, 0);
  }
  40% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  43% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  53% {
    transform: translate3d(0px, 0px, 0);
  }
  70% {
    transform: translate3d(0, -15px, 0) scale3d(1, 1.05, 1);
  }
  80% {
    transform: translate3d(0px, 0px, 0) scale3d(1, 0.95, 1);
  }
  90% {
    transform: translate3d(0, -4px, 0) scale3d(1, 1.02, 1);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes flashgywO1JkB0C0B {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse0DlLe3ZmR0Lr {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shakeXi3E22TKhl0K5 {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(-10px, 0, 0);
  }
  20% {
    transform: translate3d(10px, 0, 0);
  }
  30% {
    transform: translate3d(-10px, 0, 0);
  }
  40% {
    transform: translate3d(10px, 0, 0);
  }
  50% {
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    transform: translate3d(10px, 0, 0);
  }
  70% {
    transform: translate3d(-10px, 0, 0);
  }
  80% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes shakeYl0KBo9LjTzBs {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(0, -10px, 0);
  }
  20% {
    transform: translate3d(0, 10px, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  60% {
    transform: translate3d(0, 10px, 0);
  }
  70% {
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceIn3HoXu1Wp6Gs8 {
  0% {
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInDownhp0HXew9IovK {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scale3d(1, 3, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, 5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceInUpOuEx47B0Gs0N {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scale3d(1, 5, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, -5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceOutDi9YSaoElcP {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes bounceOutDownhEnFj0ViWren {
  20% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes bounceOutUpxZzUzYpvBef {
  20% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes fadeInK8AS4CD8LxJc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown3Wejw0KdhvkT {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInLeft4B8ZYZskL8T {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInRightKdx1R1C3TK5 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInUpCv8T94HMzoj {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeOutWsmExWsKHehM {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutDownxkwpUuxkXaKh {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutLeft4I7FfzXpTQqw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutRightv7VeJyZf8OiV {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutUpWcnCocbUJlyZ {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes zoomIn8EsQyUe1F6D {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomInDownnKgmoIh8EcU {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}
@keyframes zoomInUpwDQdAk9BrYhY {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
}
@keyframes zoomOut8XcUEhcTFz {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOutDownT1UpFUnBqbit {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
  }
}
@keyframes zoomOutUpMkD1Et3X2Ko {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
@keyframes slideInDownHU23SDnaGbj {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInLeftamPxFrYy2Bqz {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInRighttlJWuYi8YUnT {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInUpl416FyqrLiVp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideOutDownIqTsEfKh0RaO {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutLeftyGtWsF8QcRpo {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutRightJr7Y0RUtQox {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutUpxSnDqhPupUr {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.plasmic_default_styles {
  --mixin-IKmU1ApJpAIq_font-family: "Inter", sans-serif;
  --mixin-IKmU1ApJpAIq_font-size: 16px;
  --mixin-IKmU1ApJpAIq_font-weight: 400;
  --mixin-IKmU1ApJpAIq_font-style: normal;
  --mixin-IKmU1ApJpAIq_color: #000000;
  --mixin-IKmU1ApJpAIq_text-align: left;
  --mixin-IKmU1ApJpAIq_text-transform: none;
  --mixin-IKmU1ApJpAIq_line-height: 1.5;
  --mixin-IKmU1ApJpAIq_letter-spacing: normal;
  --mixin-IKmU1ApJpAIq_white-space: pre-wrap;
  --mixin-IKmU1ApJpAIq_user-select: text;
  --mixin-IKmU1ApJpAIq_text-decoration-line: none;
  --mixin-IKmU1ApJpAIq_text-overflow: clip;
  --mixin-TDT4JH7Pj65K_font-weight: 700;
  --mixin-TDT4JH7Pj65K_font-size: 64px;
  --mixin-TDT4JH7Pj65K_line-height: 1;
  --mixin-TDT4JH7Pj65K_letter-spacing: -1px;
  --mixin-TDT4JH7Pj65K_white-space: pre-wrap;
  --mixin-v7-JI526g59q_font-size: 48px;
  --mixin-v7-JI526g59q_font-weight: 700;
  --mixin-v7-JI526g59q_letter-spacing: -0.5px;
  --mixin-v7-JI526g59q_line-height: 1.1;
  --mixin-v7-JI526g59q_white-space: pre-wrap;
  --mixin-1p-ogfvRe0Lo_color: #0070f3;
  --mixin-1p-ogfvRe0Lo_white-space: pre-wrap;
  --mixin-XXTaeEPT5wZH_font-size: 32px;
  --mixin-XXTaeEPT5wZH_font-weight: 600;
  --mixin-XXTaeEPT5wZH_line-height: 1.2;
  --mixin-XXTaeEPT5wZH_white-space: pre-wrap;
  --mixin-tzgrSUliKEdw_font-size: 24px;
  --mixin-tzgrSUliKEdw_font-weight: 600;
  --mixin-tzgrSUliKEdw_line-height: 1.3;
  --mixin-tzgrSUliKEdw_white-space: pre-wrap;
  --mixin-WjQSIJ1P0D6B_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WjQSIJ1P0D6B_border-bottom-color: #dddddd;
  --mixin-WjQSIJ1P0D6B_border-bottom-style: solid;
  --mixin-WjQSIJ1P0D6B_border-bottom-width: 1px;
  --mixin-WjQSIJ1P0D6B_border-left-color: #dddddd;
  --mixin-WjQSIJ1P0D6B_border-left-style: solid;
  --mixin-WjQSIJ1P0D6B_border-left-width: 1px;
  --mixin-WjQSIJ1P0D6B_border-right-color: #dddddd;
  --mixin-WjQSIJ1P0D6B_border-right-style: solid;
  --mixin-WjQSIJ1P0D6B_border-right-width: 1px;
  --mixin-WjQSIJ1P0D6B_border-top-color: #dddddd;
  --mixin-WjQSIJ1P0D6B_border-top-style: solid;
  --mixin-WjQSIJ1P0D6B_border-top-width: 1px;
  --mixin-WjQSIJ1P0D6B_border-bottom-left-radius: 3px;
  --mixin-WjQSIJ1P0D6B_border-bottom-right-radius: 3px;
  --mixin-WjQSIJ1P0D6B_border-top-left-radius: 3px;
  --mixin-WjQSIJ1P0D6B_border-top-right-radius: 3px;
  --mixin-WjQSIJ1P0D6B_font-family: "Inconsolata";
  --mixin-WjQSIJ1P0D6B_padding-bottom: 1px;
  --mixin-WjQSIJ1P0D6B_padding-left: 4px;
  --mixin-WjQSIJ1P0D6B_padding-right: 4px;
  --mixin-WjQSIJ1P0D6B_padding-top: 1px;
  --mixin-WjQSIJ1P0D6B_white-space: pre-wrap;
  --mixin-oim-v12Bko_V_border-left-color: #dddddd;
  --mixin-oim-v12Bko_V_border-left-style: solid;
  --mixin-oim-v12Bko_V_border-left-width: 3px;
  --mixin-oim-v12Bko_V_color: #888888;
  --mixin-oim-v12Bko_V_padding-left: 10px;
  --mixin-oim-v12Bko_V_white-space: pre-wrap;
  --mixin-Nf_xI0Q8K8Tq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Nf_xI0Q8K8Tq_border-bottom-color: #dddddd;
  --mixin-Nf_xI0Q8K8Tq_border-bottom-style: solid;
  --mixin-Nf_xI0Q8K8Tq_border-bottom-width: 1px;
  --mixin-Nf_xI0Q8K8Tq_border-left-color: #dddddd;
  --mixin-Nf_xI0Q8K8Tq_border-left-style: solid;
  --mixin-Nf_xI0Q8K8Tq_border-left-width: 1px;
  --mixin-Nf_xI0Q8K8Tq_border-right-color: #dddddd;
  --mixin-Nf_xI0Q8K8Tq_border-right-style: solid;
  --mixin-Nf_xI0Q8K8Tq_border-right-width: 1px;
  --mixin-Nf_xI0Q8K8Tq_border-top-color: #dddddd;
  --mixin-Nf_xI0Q8K8Tq_border-top-style: solid;
  --mixin-Nf_xI0Q8K8Tq_border-top-width: 1px;
  --mixin-Nf_xI0Q8K8Tq_border-bottom-left-radius: 3px;
  --mixin-Nf_xI0Q8K8Tq_border-bottom-right-radius: 3px;
  --mixin-Nf_xI0Q8K8Tq_border-top-left-radius: 3px;
  --mixin-Nf_xI0Q8K8Tq_border-top-right-radius: 3px;
  --mixin-Nf_xI0Q8K8Tq_font-family: "Inconsolata";
  --mixin-Nf_xI0Q8K8Tq_padding-bottom: 3px;
  --mixin-Nf_xI0Q8K8Tq_padding-left: 6px;
  --mixin-Nf_xI0Q8K8Tq_padding-right: 6px;
  --mixin-Nf_xI0Q8K8Tq_padding-top: 3px;
  --mixin-Nf_xI0Q8K8Tq_white-space: pre-wrap;
  --mixin-YfixpVy1W8pT_display: flex;
  --mixin-YfixpVy1W8pT_flex-direction: column;
  --mixin-YfixpVy1W8pT_align-items: stretch;
  --mixin-YfixpVy1W8pT_justify-content: flex-start;
  --mixin-YfixpVy1W8pT_list-style-position: outside;
  --mixin-YfixpVy1W8pT_padding-left: 40px;
  --mixin-YfixpVy1W8pT_position: relative;
  --mixin-YfixpVy1W8pT_list-style-type: disc;
  --mixin-YfixpVy1W8pT_white-space: pre-wrap;
  --mixin-wGfAqHN9RcAF_display: flex;
  --mixin-wGfAqHN9RcAF_flex-direction: column;
  --mixin-wGfAqHN9RcAF_align-items: stretch;
  --mixin-wGfAqHN9RcAF_justify-content: flex-start;
  --mixin-wGfAqHN9RcAF_list-style-position: outside;
  --mixin-wGfAqHN9RcAF_padding-left: 40px;
  --mixin-wGfAqHN9RcAF_position: relative;
  --mixin-wGfAqHN9RcAF_list-style-type: decimal;
  --mixin-wGfAqHN9RcAF_white-space: pre-wrap;
  --mixin-1tor_QYMdtdp_font-size: 20px;
  --mixin-1tor_QYMdtdp_font-weight: 600;
  --mixin-1tor_QYMdtdp_line-height: 1.5;
  --mixin-1tor_QYMdtdp_white-space: pre-wrap;
  --mixin-nHGRK0hgZi2P_font-size: 16px;
  --mixin-nHGRK0hgZi2P_font-weight: 600;
  --mixin-nHGRK0hgZi2P_line-height: 1.5;
  --mixin-nHGRK0hgZi2P_white-space: pre-wrap;
  --mixin-2yyQriGPJEMX_color: #3291ff;
  --mixin-2yyQriGPJEMX_white-space: pre-wrap;
  --mixin-UZIgn9bY8kwY_white-space: pre-wrap;
  --mixin-9fiZIDSlZfZE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-IKmU1ApJpAIq_font-family);
  font-size: var(--mixin-IKmU1ApJpAIq_font-size);
  font-weight: var(--mixin-IKmU1ApJpAIq_font-weight);
  font-style: var(--mixin-IKmU1ApJpAIq_font-style);
  color: var(--mixin-IKmU1ApJpAIq_color);
  text-align: var(--mixin-IKmU1ApJpAIq_text-align);
  text-transform: var(--mixin-IKmU1ApJpAIq_text-transform);
  line-height: var(--mixin-IKmU1ApJpAIq_line-height);
  letter-spacing: var(--mixin-IKmU1ApJpAIq_letter-spacing);
  white-space: var(--mixin-IKmU1ApJpAIq_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-TDT4JH7Pj65K_font-weight);
  font-size: var(--mixin-TDT4JH7Pj65K_font-size);
  line-height: var(--mixin-TDT4JH7Pj65K_line-height);
  letter-spacing: var(--mixin-TDT4JH7Pj65K_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-v7-JI526g59q_font-size);
  font-weight: var(--mixin-v7-JI526g59q_font-weight);
  letter-spacing: var(--mixin-v7-JI526g59q_letter-spacing);
  line-height: var(--mixin-v7-JI526g59q_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1p-ogfvRe0Lo_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-XXTaeEPT5wZH_font-size);
  font-weight: var(--mixin-XXTaeEPT5wZH_font-weight);
  line-height: var(--mixin-XXTaeEPT5wZH_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-tzgrSUliKEdw_font-size);
  font-weight: var(--mixin-tzgrSUliKEdw_font-weight);
  line-height: var(--mixin-tzgrSUliKEdw_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WjQSIJ1P0D6B_font-family);
  border-radius: var(--mixin-WjQSIJ1P0D6B_border-top-left-radius)
    var(--mixin-WjQSIJ1P0D6B_border-top-right-radius)
    var(--mixin-WjQSIJ1P0D6B_border-bottom-right-radius)
    var(--mixin-WjQSIJ1P0D6B_border-bottom-left-radius);
  padding: var(--mixin-WjQSIJ1P0D6B_padding-top)
    var(--mixin-WjQSIJ1P0D6B_padding-right)
    var(--mixin-WjQSIJ1P0D6B_padding-bottom)
    var(--mixin-WjQSIJ1P0D6B_padding-left);
  border-top: var(--mixin-WjQSIJ1P0D6B_border-top-width)
    var(--mixin-WjQSIJ1P0D6B_border-top-style)
    var(--mixin-WjQSIJ1P0D6B_border-top-color);
  border-right: var(--mixin-WjQSIJ1P0D6B_border-right-width)
    var(--mixin-WjQSIJ1P0D6B_border-right-style)
    var(--mixin-WjQSIJ1P0D6B_border-right-color);
  border-bottom: var(--mixin-WjQSIJ1P0D6B_border-bottom-width)
    var(--mixin-WjQSIJ1P0D6B_border-bottom-style)
    var(--mixin-WjQSIJ1P0D6B_border-bottom-color);
  border-left: var(--mixin-WjQSIJ1P0D6B_border-left-width)
    var(--mixin-WjQSIJ1P0D6B_border-left-style)
    var(--mixin-WjQSIJ1P0D6B_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-oim-v12Bko_V_color);
  padding-left: var(--mixin-oim-v12Bko_V_padding-left);
  border-left: var(--mixin-oim-v12Bko_V_border-left-width)
    var(--mixin-oim-v12Bko_V_border-left-style)
    var(--mixin-oim-v12Bko_V_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Nf_xI0Q8K8Tq_font-family);
  border-radius: var(--mixin-Nf_xI0Q8K8Tq_border-top-left-radius)
    var(--mixin-Nf_xI0Q8K8Tq_border-top-right-radius)
    var(--mixin-Nf_xI0Q8K8Tq_border-bottom-right-radius)
    var(--mixin-Nf_xI0Q8K8Tq_border-bottom-left-radius);
  padding: var(--mixin-Nf_xI0Q8K8Tq_padding-top)
    var(--mixin-Nf_xI0Q8K8Tq_padding-right)
    var(--mixin-Nf_xI0Q8K8Tq_padding-bottom)
    var(--mixin-Nf_xI0Q8K8Tq_padding-left);
  border-top: var(--mixin-Nf_xI0Q8K8Tq_border-top-width)
    var(--mixin-Nf_xI0Q8K8Tq_border-top-style)
    var(--mixin-Nf_xI0Q8K8Tq_border-top-color);
  border-right: var(--mixin-Nf_xI0Q8K8Tq_border-right-width)
    var(--mixin-Nf_xI0Q8K8Tq_border-right-style)
    var(--mixin-Nf_xI0Q8K8Tq_border-right-color);
  border-bottom: var(--mixin-Nf_xI0Q8K8Tq_border-bottom-width)
    var(--mixin-Nf_xI0Q8K8Tq_border-bottom-style)
    var(--mixin-Nf_xI0Q8K8Tq_border-bottom-color);
  border-left: var(--mixin-Nf_xI0Q8K8Tq_border-left-width)
    var(--mixin-Nf_xI0Q8K8Tq_border-left-style)
    var(--mixin-Nf_xI0Q8K8Tq_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YfixpVy1W8pT_display);
  flex-direction: var(--mixin-YfixpVy1W8pT_flex-direction);
  align-items: var(--mixin-YfixpVy1W8pT_align-items);
  justify-content: var(--mixin-YfixpVy1W8pT_justify-content);
  list-style-position: var(--mixin-YfixpVy1W8pT_list-style-position);
  padding-left: var(--mixin-YfixpVy1W8pT_padding-left);
  position: var(--mixin-YfixpVy1W8pT_position);
  list-style-type: var(--mixin-YfixpVy1W8pT_list-style-type);
  column-gap: var(--mixin-YfixpVy1W8pT_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-wGfAqHN9RcAF_display);
  flex-direction: var(--mixin-wGfAqHN9RcAF_flex-direction);
  align-items: var(--mixin-wGfAqHN9RcAF_align-items);
  justify-content: var(--mixin-wGfAqHN9RcAF_justify-content);
  list-style-position: var(--mixin-wGfAqHN9RcAF_list-style-position);
  padding-left: var(--mixin-wGfAqHN9RcAF_padding-left);
  position: var(--mixin-wGfAqHN9RcAF_position);
  list-style-type: var(--mixin-wGfAqHN9RcAF_list-style-type);
  column-gap: var(--mixin-wGfAqHN9RcAF_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-1tor_QYMdtdp_font-size);
  font-weight: var(--mixin-1tor_QYMdtdp_font-weight);
  line-height: var(--mixin-1tor_QYMdtdp_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-nHGRK0hgZi2P_font-size);
  font-weight: var(--mixin-nHGRK0hgZi2P_font-weight);
  line-height: var(--mixin-nHGRK0hgZi2P_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-2yyQriGPJEMX_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
